.underline {
    text-decoration: underline;
    &:hover {
        text-decoration: underline;
    }
}
.direction {
    direction: $direction;
}
.highlighted{
    color: $secondaryClr;
}

%cover-image{
    background-size: cover;
    background-position: center;
}






