/*--------------------------------------------------------------------*/
@media only screen and (min-width: 1400px) {
/*--------------------------------------------------------------------*/

}

/*--------------------------------------------------------------------*/
@media only screen and (min-width: 1200px) {
  /*--------------------------------------------------------------------*/
}
/*--------------------------------------------------------------------*/
@media only screen and (min-width: 1366px) {
  /*--------------------------------------------------------------------*/
  .container {
    max-width: 1200px;
  }
}

/*--------------------------------------------------------------------*/
@media only screen and (min-width: 1600px) {
  /*--------------------------------------------------------------------*/
  .container {
    max-width: 1400px;
  }
}

/*--------------------------------------------------------------------*/
@media only screen and (min-width: 1900px) {
  /*--------------------------------------------------------------------*/
  .container {
    max-width: 1600px;
  }
}

/*-*************************************************************************************************-*/
/* only  microsoft browser */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

}

@supports (-ms-accelerator:true) {

}

/*-*************************************************************************************************-*/


// x-Large devices ( less than 1400px)
/*--------------------------------------------------------------------*/
@media only screen and (max-width: 1400px) {
  /*--------------------------------------------------------------------*/
  section{
    &.section {
      .sec-content {
        .logo {
          #{$left}: calc(50% - 60px)
        }
      }
    }
  }
  .section {
    &.categories{
      .categories-container{
        .row{
          > div {
            &:last-child{
              display: none;
            }
          }
        }
      }
    }
    .metro {
      .pic {
        .discount {
          font-size: 24px;

          span {
            font-size: 30px;
          }
        }

        &.h-offer {
          .discount {
            width: 30%;
          }
        }

        &.b-offer {
          .discount {
            width: 60%;
            height: 40%;
          }
        }

        &.s-offer {
          &.nd {
            .discount {
              width: 75%;

              &:before {
                -webkit-transform: skew(-53deg);
                -moz-transform: skew(-53deg);
                -ms-transform: skew(-53deg);
                -o-transform: skew(-53deg);
                transform: skew(-53deg);
              }
            }
          }
        }
      }
    }
  }
  .offered-item {
    .item-details{
      display: block;
    }
    .hover-details{
      padding: 20px 30px;
    }
  }
}

/*--------------------------------------------------------------------*/
@media only screen and (max-width: 1366px) {
  /*--------------------------------------------------------------------*/
  .section{
    aside{
      .menu-item{
        font-size: 14px;
      }
    }
    .metro{
      .pic{
        &.h-offer{
          .discount{
            width: 35% ;
          }
        }
        &.b-offer{
          .discount{
            width: 70% ;
          }
        }
      }
    }
    &.blogs{
      .blog{
        .details{
          h2{
            font-size: 1.5rem;
          }
        }

      }
    }
  }
  .filtration{
    max-width: 260px;
  }
}

// Large devices (desktops, less than 1200px)
/*------------------------------------------------------------------*/
@media only screen and (max-width: 1199.98px) {
  /*------------------------------------------------------------------*/
  .title {
    font-size: 18px;
  }
  .gradient{
    padding: 20px;
  }
  section.section {
    aside {
      width: 90px;

      .menu-item {
        a {
          span {
            display: none;
          }
          &:hover{
            span{
              display: block;
            }
          }
        }
      }
    }

    .sec-content {
      width: calc(100% - 70px - 90px);
      .logo{
        #{$left}:50%;
      }
    }

    .metro {
      .pic {
        .discount {
          width: calc(100% - 20px) !important;
          height: calc(100% - 20px) !important;
          box-shadow: none !important;
        }
      }

      .st, .b-offer {
        .discount {
          background-color: rgba($mainClr, 0.7) !important;
        }
      }

      .h-offer, .nd {
        .discount {
          background-color: rgba(255, 255, 255, 0.7) !important;

          p {
            width: 100% !important;
            height: 100% !important;
          }

          &:before {
            display: none;
          }
        }
      }
    }

    &.blogs {
      .sec-caption {
        width: calc(50% + 40px);

        .blog {
          .details {
            p {
              line-height: 22px;
              max-height: 44px;
            }
          }
        }
      }
    }
    &.categories{
      .categories-container{
        .row {
          > div {
            &:last-child {
              display: none;
            }
          }
        }
      }
    }
    &.categories, &.offers{
      .sec-content{
        .logo{
          #{$left}:70px;
        }
      }
    }
  }

  //-------------------------------internals-----------
  .mission-vision {
    .mission-vision-block{
      flex-wrap: wrap;
      &:nth-child(even) {
        flex-direction: row-reverse;
        section{
          margin: -60px auto 0;
        }
      }
      section{
        order: 0;
        width: calc(100% - 35px);
        margin: -60px auto 0;
      }
      .stretched-img{
        width: 100%;
        height: 300px;
        order: -1;
      }
    }
  }
  .product-details{

  }
  .product-gallery {
    .carousel {
      flex-direction: column-reverse;
      .carousel-inner{
        width: 100%;
      }
      .carousel-indicators{
        width: 100%;
        margin-#{$right}:0;
        margin-top: 20px;
        display: flex;
        li{
          &:not(:first-child){
            margin-#{$right}:2px
          }
          &:not(:last-child){
            margin-#{$left}:2px
          }
        }
      }
    }
  }
  .filtration-pages .product-content .view-two{
    width: 100% !important;
  }
  .grid-row .grid-column{
    width: 50%;
  }
}

// Medium devices (tablets, less than 992px)
/*--------------------------------------------------------------------*/
@media only screen and (max-width: 991.98px) {
/*--------------------------------------------------------------------*/
  footer {
    .offset-lg-4{
      margin-left: auto;
      margin-right: auto;
    }
  }
  .sub-title{
    font-size: 16px;
  }
  .btn {
    min-height: 40px;
  }
  .sec-head{
    position: relative !important;
    left: 0 !important;
  }
  .res-sec-head{
    font-size: 4vw;
    display: block;
    position: static;
    @include translate(0, 0);
    width: 100%;
    text-align: center;
    margin: 30px 0 25px;
    text-transform: uppercase;
    font-family: $titlsFont;
  }
  header {
    .d-flex {
      margin-bottom: 0;
    }

    .navbar {
      display: none;
    }

    .burger-internals {
      display: block;
      width: 50px;
    }

    .account-nav {
      margin-#{$right}: 10px;
      a {
        span {
          display: none;
        }
      }
    }
      .lang-search{
          margin-#{$left}: auto;
          margin-#{$right}: 10px;
      }
    .logo {
      position: static;
      width: 30%;
      display: flex;
      justify-content: center;
      order: -1;
      @include translate(0,0);
      img {
        max-width: 100%;
        align-self: baseline;
      }
    }
  }
  footer{
    padding: 0;
    .map{
      position: static;
      width: 100%;
      height: 300px;
      margin-bottom: 30px;
    }
  }
  .footer-part{
    padding: 0;
  }
  .responsive-header{
    display: block;
  }
  section.section {
    &:not(.intro){
      padding-bottom: 30px;
      &:nth-child(odd){
        .sec-content{
          background: linear-gradient(to bottom, #eaf4ff, transparent);
        }
        .res-sec-head{
          color: $mainClr;
        }
      }
      &:nth-child(even){
        .sec-content{
          background: linear-gradient(to bottom, #fff6fd, transparent);
        }
        .res-sec-head{
          color: $secondaryDark;
        }
      }
    }
    &.intro{
      .sec-content{
        background: transparent;
      }
      .visuals{
        &:before{
          display: none;
        }
      }
    }
    &.how-it-works{
      .wrapper{
        padding:0;
        display: flex;
        flex-direction: column-reverse;
      }
      .visuals{
        height: 300px;
        width: 60%;
        margin:  0 auto 20px;
        position: relative;
        z-index: 1;
        cursor: pointer;
        &:before{
          display: none;
        }
      }
      .open-youtube{
        width: 100%;
        position: absolute;
        top: 100%;
        left: 50%;
        right: auto;
        bottom: auto;
        @include translate(-50%, -100%);
      }
      .sec-caption{
        background-color: transparent;
        position: static;
        width: 100% !important;
        margin-top: 0;
        box-shadow: none;
        @include translate(0,0)
      }
    }
    &.offers{
      .pic{
        .discount{
          p {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            display: flex;
          }
        }
      }
    }
    &.blogs{
      .wrapper{
        width: 100%;
        height: auto;
        padding: 0;
        display: flex;
        .visuals{
          display: none;
        }
      }
      .visuals-wrap{
        width: calc(100% - 60px);
      }
      .sec-caption{
        position: static;
        margin-#{$left}:20px;
        top: 0;
        @include translate(0,0);
        width: calc(100% - 30px);
        margin: 0 auto;
        .carousel{
          height: auto;
          padding-bottom: 0;
          .carousel-inner{
            padding-bottom: 10px;
          }
          .controls{
            margin-top: 10px;
          }
        }
      }
    }
    &.contacts{
      .visuals{
        position: static;
        height: 300px;
        width: 100%;
        &:before{
          display: none;
        }
      }
      iframe{
        position: static;
      }
      .wrapper{
        width: 100%;
        padding: 50px 15px 0;
        height: auto;
        .footer-part{
          &:last-child{
            margin: 0;
          }
        }
      }
    }
    .title-bar, aside{
      display: none;
    }
    .sec-content{
      width: 100%;
      border: none;
      height: auto;
      .logo{
        display: none;
      }
    }
    .wrapper{
      padding: 40px 0 ;
      margin-left: 0;
      margin-right: 0;
    }
    .sec-content{
      .sec-caption{
        margin-top: 0;
      }
      .indicators {
        margin-top: 20px;
        .carousel-control{
          width: 40px;
          font-size: 20px;
        }
      }
    }
    &.categories {
      .sec-head{
        width: 100%;
        text-align: center;
        margin: 30px 0;
        top:0;
        @include translate(0, 0);
      }
      .categories-container {
        margin-top: -20px;
        margin-#{$left}: 0;
        .preview{
          margin: 0;
          .name{
            display: none;
          }
        }
        .zoom{
          display: none;
        }
        .hover{
          top: 0;
          padding: 25px 15px;
        }
      }
    }
    &.contacts .visuals .address{
      display: none;
    }
    .metro {
      margin-top: 0;
      margin-#{$left}:0;
      .pic{
        margin-bottom: 20px;
        .btn{
          display: none;
        }
      }
    }
  }


  section.section {
    .sec-content .controls .carousel-control{
      font-size: 22px;
      opacity: 0.7;
      &:hover{
        opacity: 1;
      }
    }
  }
  .footer-part .info.address{
    display: block;
    padding: 0;
    background-color: transparent;
    p.title{
      color: $mainClr;
      padding: 0;
      &:before{
        display: none;
      }
    }
  }
  .footer-part {
    ul {
      column-count: 3;
    }
  }

  main {
      .content{
          padding: 0!important;
          padding-bottom: 20px!important;
          &.billing{
              margin-bottom: 0;
          }
      }
    .blogs-page {
        .blogs-header{
            display: block;
        }
      .name{
        flex-direction: column;
      }
    }
    .continue-shopping {
      flex-direction: column;
      .totals{
        width: 100%;
        padding:20px 10px;
        button{
          margin-bottom: 0;
        }
      }
      .btns{
        margin-top: 0px;
        padding: 0px 10px;
        display: flex;
        justify-content: space-between;
        button{
          width: calc(50% - 15px);
        }
      }
    }
  }
  table{
    td,th{
      vertical-align: top;
      padding-left: 4px;
      padding-right: 4px;
      &:not(:first-child){
        white-space: nowrap;
      }
    }
    img{
      max-width: 100px;
    }
  }
  .filtration-pages{
    flex-direction: column;
    .filtration{
      width: 100%;
    }
    .product-content{
      width: 100%;
      .filter-heading{
        flex-direction: column;
        align-items: baseline;
      }
    }
    .view{
      display: none;
    }
    .grid-row {
      .grid-column{
        width: 50%;
      }

    }
  }

  section.section.visualizer .wrapper{
    margin: 0;
    padding: 0;
    .visuals{
      display: none;
    }
  }
  .wall-floor{
    position: static;
    @include translate(0, 0);
    width: 100%;
    a{
      padding-top: 20%;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .color-picker{
    flex-direction: column;
    .the-colors,.selected-colors{
      width: 100%;
      margin: 0;
    }
  }
  
  section.section.intro .sec-content .visuals{
    width: 100%;
  }
  section.section.intro .sec-content .indicators{
    left: 50%;
    @include translate(-50%, 0);
    .carousel-control{
      color: #fff;
    }
  }
  section.section.intro .sec-content .carousel .carousel-caption{
    top: 50%;
    left: 50%;
    right: auto;
    @include translate(-50%, -50%);
    width: calc(100% - 30px);
  }
}


// Small devices (landscape phones, less than 768px)
/*--------------------------------------------------------------------*/
@media only screen and (max-width: 767.98px) {
  /*--------------------------------------------------------------------*/
  .columns{
    width: 100%;
    &:not(:first-child){
      padding-top: 0;
      background: transparent;
    }
    &:not(:last-child){
      padding-bottom: 0;
      li{
        &:last-child{
          margin-bottom: 15px;
          border-bottom: 1px solid $grey;
        }
      }
    }
  }
  .res-sec-head {
    font-size: 20px;
  }
  .btn{
    min-width: 120px;
  }
  header {
    .burger-internals{
      img{
        width: 100%;
        height: 35px;
      }
    }
    .logo {
        width: 40%;
    }
      .logged{
          .header{
              flex-wrap: wrap;
              align-items: flex-start;
              .account-nav{
                  width:60%;
                  margin-#{$right}:0;
                  order: -1;
                  display: flex;
                  justify-content: flex-end;
              }
              .lang-search{
                  margin-#{$left}:auto;
                  margin-#{$right}: 10px;
              }
              .open-nav, .lang-search{
                  margin-top: -25px;
              }
              .btn, .open-search{
                  min-width: 30px;
                  min-height: 30px;
                  height: 30px;
                  background-color: transparent;
                  color: $mainClr;
              }
          }
      }
  }

  .footer-part{
    display: block !important;
    .info{
      width: 100%;
      margin-#{$right}: 0;
      margin-bottom: 20px;
    }
  }
  section.section {
    .sec-content{
      .visuals{
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        &:before{
          content: '';
          background-color: rgba(255,255,255,0.4);
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
        .sec-caption{
          position: static;
          margin: 0 auto;
          box-shadow:none;
          top:0;
          @include translate(0, 0);
        }
      }
      .carousel{
        .carousel-caption{
          position: absolute;
          margin: 0;
          top: 50%;
          #{$right}:50px;
          @include translate(0,-50%);
        }
      }
    }

    &.categories{
      .sec-head{
        font-size: 18px;
      }
      .categories-container{
        margin-top: 0;
        .category{
          margin: 10px 0;
        }
        .row {
          > div {
            &:nth-last-child(-n+2) {
              display: none;
            }
          }
        }
      }
    }
    &.blogs{
      .wrapper{
        flex-direction: column;
      }
      .visuals{
        width: calc(100% - 30px);
        margin-#{$left}:15px;
        margin-bottom: 15px;
        &:before{
          display: none;
        }
        .visuals-wrap{
          background-color: rgba(255, 255, 255, 0.5);
          width: calc(100% - 20px);
          height: calc(100% - 20px);
          left: 10px;
          right: 10px;
          top: calc(100% - 10px);
          .date{
            color: $mainClr;
          }
        }
      }
      .sec-caption{
        margin-#{$left}: 15px;
        margin-#{$right}: 10px;
        left: 0;
      }
    }
  }
  .metro {
    .pic{
      padding-top: 25% !important;
      .btn{
        display: none;
      }
    }
  }
  .footer-part {
    ul {
      column-count: 2;
    }
  }

  .mission-vision {
    .mission-vision-block{
      section{
        order: 0;
        width: 100%;
        margin-top: 0;
        padding: 25px 0;
      }
    }
  }
  .offered-item {
    .item-img{
      padding-top: 65%;
    }
  }
  .specification {
    .nav {
      .nav-item {
        .nav-link{
          font-size: 16px;
        }
      }
    }
  }
  .profile {
    .profile-links{
      display: none;
    }
    .profile-img{
      width: 50%;
      padding-top: 50%;
    }
  }
  
  .color-visualizer {
    .visualizer-block {
      .fixed-imgs{
        padding-top: 60%;
      }
    }
  }
  .sw-theme-default .nav-tabs .nav-item .nav-link{
    padding: 5px;
    font-size: 10px;
    height: 75px;
    span{
      width: 20px;
      height: 20px;
      font-size: 12px;
    }
  }
  .sw-theme-default .nav-tabs .nav-item:after{
    right: -17px;
    font-size: 14px;
  }
}


/*-*************************************************************************************************-*/
/*if section full screen*/
/*--------------------------------------------------------------------*/
@media only screen and (max-height: 900px) {
/*--------------------------------------------------------------------*/
  section{
    &.section {
      .sec-content {
        .logo {
          padding: 20px 30px;

          img {
            max-height: 70px;
          }
        }

        .sec-caption {
          .preview{
            height: 160px;
          }
          .details{
            padding: 20px;
            p{
              height: 40px;
              margin-bottom: 20px;
              line-height: 20px !important;
            }
          }
          .content{
            padding: 20px;
            .title{
              margin-bottom: 25px;
            }
            .step{
              div {
                margin: 5px 0;
                img{
                  width: 35px;
                  height: 35px;
                }
              }
            }
          }
        }

        .carousel-control {
          bottom: 70px;
        }
      }

      &.categories {
        .sec-head {
          top: 20px;
        }
      }

      &.blogs {
        margin-bottom: 20px;
        .carousel-inner {
          + .controls{
            padding-top: 0;
          }
        }

        .blog {
          &:not(:last-child){
            margin-bottom: 15px;
          }
          .details {
            padding: 15px;
            .date {
              height: 20px;
              margin-bottom: 10px;
            }
            .btn{
              margin-bottom: 0;
            }
          }
          &:not(.visuals-wrap){
            .details{
              p{
                white-space: nowrap;
                text-overflow: ellipsis;
                height: auto;
              }
            }
          }
        }
      }
      &.contacts{
        ul{
          li{
            padding-bottom: 5px;
          }
        }
      }
    }
    .categories-container{
      .preview{
        padding-top: 110%;
      }
    }
  }

  .footer-part{
    margin-bottom: 25px;
  }
}


/*--------------------------------------------------------------------*/
@media only screen and (max-height: 768px) {
  /*--------------------------------------------------------------------*/
  .btn {
    min-height: 40px;
  }
}


/*--------------------------------------------------------------------*/
@media only screen and (max-height: 640px) {
  /*--------------------------------------------------------------------*/
  header{
    .logo{
      img{
        max-height: 60px;
      }
    }
  }
  section.section {
    .sec-content {
      .sec-caption {
        .ttl{
          font-size: 26px;
          margin-bottom: 10px;
        }
      }
    }

  }
}


/*--------------------------------------------------------------------*/
@media only screen and (max-height: 600px) {
  /*--------------------------------------------------------------------*/
}

/*-*************************************************************************************************-*/


// Extra small devices (portrait phones, less than 576px)
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 575.98px) {
  /*--------------------------------------------------------------------*/
  header {
    position: relative;
    .logo {
      width: 30%;
    }
      .account-nav{
          .icons{
            position: absolute;
            background-color: #fff;
            z-index: 2;
            #{$right}: 0;
            top: 100%;
            padding: 2px 4px;
          }
      }
      .logged{
          .header{
              .open-nav, .lang-search{
                  margin-top: 0;
              }
          }
      }
    .d-flex{
      .open-search{
        min-width: 30px;
        min-height: 30px;
      }
      .lang-search{
        button{
          min-width: 30px;
          min-height: 30px;
        }
      }
    }
  }
  .banner{
    .page-title{
      text-align: $left;
    }
    .breadcrumb{
      justify-content: unset;
      padding: 0.5rem 0;
    }
  }
  main {
    margin-top: -120px;
  }

    .notification{
        font-size: 8px;
        font-weight: 500;
        #{$right}:-6px
    }
  footer{
    .footer-part{
      ul{
        column-count: 1;
      }
    }
  }
  section {
    .categories-container {
      .preview{
        padding-top: 70%;
      }
    }
    &.section{
      .metro {
        .pic{
          padding-top: 40% !important;
        }
      }
      .sec-content{
        .carousel{
          .visuals{
            width: 100%;
          }
          .indicators{
            display: none;
          }
        }
        .visuals{
          width: calc(100% - 30px);
          //height: 270px;
        }
        .sec-caption{
          background-color: rgba(255,255,255,0.6);
          @include translate(0,0);
          .preview{
           display: none;
          }
          .ttl{
            font-size: 24px;
            margin-bottom: 10px;
          }
          .details{
            padding: 10px;
            p{
              height: 40px;
              margin-bottom: 0;
            }
            .btn{
              display: none;
            }
          }
        }
      }
    }
    &.how-it-works{
      .sec-caption{
        width: 100%;
      }
    }
    &.blogs{
      .sec-caption{
        //width: calc(100% - 30px) !important;
        //margin: 0 !important;
        //left: 15px !important;
        //right: 15px !important;
        .carousel-item{
          padding-#{$right}:0;
          .blog{
            box-shadow: none;
            border: 1px #ddd solid;
          }
        }
      }
    }
    &.contacts{
      .visuals{
        width: 100% !important;
      }
    }
  }

  main{
    .mission-vision .mission-vision-block section{
      padding: 25px;
    }
    .blogs-page{
      .featured{
        .preview{
          background-image: none !important;
          padding: 40px 0;
        }
        img{
          display: block;
        }
        .summary {
          padding: 30px 0;
          text-align: $left;
        }
      }
    }
  }
  .filtration-pages{
    .grid-row {
      .view-two{
        width: 100% !important;
        .right-details{
          flex-direction: column;
          align-items: baseline;
          .read-more{
            padding-top: 10px;
          }
        }
        .offered-item{
          flex-direction: column;
          > * {
            width: 100% !important;
          }
        }
      }

    }
  }
  .quote-form {
    width: 100%;
  }
  //section.section.intro{
  //  height: auto;
  //}
  //section.section.intro .sec-content .carousel .carousel-caption{
  //  position: static;
  //  @include translate(0, 0);
  //}
  .title{
    padding: 2% 0 0;
    font-size: 16px;
  }
  .color-visualizer .or-divider{
    margin: 25px 0;
  }
  #active-wrapper-1>button{
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
  }
  .box{
    height: 50px;
    width: 20%;
    line-height: 42px;
    font-size: 10px;
    margin: 3px;
  }
}


/*----------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
  /*--------------------------------------------------------------------*/
  header {
    .burger-internals{
      img{
        width: 100%;
      }
    }
  }
  .gradient {
    padding: 10px;
  }
  
  .sw-theme-default .nav-tabs .nav-item .nav-link{
    text-transform: capitalize;
  }
  .sw-theme-default .nav-tabs{
    padding-left: 5px;
    padding-right: 5px
  }
  .sw-theme-default>ul.step-anchor>li{
    padding-left: 10px;
    padding-right: 10px
  }
  .sw-theme-default .step-content{
    padding: 10px 0;
  }
  .box{
    width: 20%;
  }
  .sw-theme-default .nav-tabs .nav-item .nav-link span{
    font-size: 10px;
  }
  .sw-theme-default .nav-tabs .nav-item .nav-link {
    justify-content: flex-start;
  }
}


/*  Extra Small Devices, Phones
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 360px) {
  /*--------------------------------------------------------------------*/
  header {
    .logo {
      width: 50%;
      margin: 0 10px;
    }

    .d-flex {
      .btn, .open-search {
        min-height: 25px;
        min-width: 25px;
      }

      .open-search {
        font-size: 16px;
      }
    }
  }
  footer{
    .footer-part{
      ul{
        column-count: 1;
      }
    }
  }
  .banner{
    padding:30px 0;
    min-height:220px
  }

  main {
    .continue-shopping {
      .btns {
        button{
          width: calc(50% - 8px);
          min-width: 100px;
        }
      }
    }
  }
  
  .sw-theme-default>ul.step-anchor>li{
    padding-left: 5px;
    padding-right: 5px;
  }
  .sw-theme-default .nav-tabs .nav-item:after{
    display: none;
  }
  .box{
    width: 30%;
  }
  #active-wrapper-1>button{
    padding: 0 8px;
  }
}



