// colors
$mainClr:#084284;
$mainLight:#eaf4ff;
$secondaryClr:#ce29ad;
$secondaryLight:#cea5d6;
$secondaryDark:#271423;
$grey:#919191;
$greyLight:#eaf4ff;
$fontColor: #919191;
$darkFontColor: #333;

// font sizes
$normalSize: 16px;
$titleSize: 20px;
$subTitleSize: 18px;
$smallSize:14px;
$navSize:16px;

//spacing
$secPadding: 50px 0 50px 0;




$isRtl: ltr;
//----- translate -----
$left: left;
$right: right;
$direction:ltr;

$bodyFont: ltrRegular;
$headingFont: ltrBold;
$titlsFont: ltrMedium;
$navFont: ltrMedium;
$specialFont: BellMT;
$langFont:rtlRegular;
$letterSpacing:0.8em;

$rotate90: 90deg;

$flex-direction:row;
$row-reverse:row-reverse;

$angle-double: '\f101';
$r-arrow:'\f30b';
$l-arrow:'\f30a';

$minus: 1;
$plus: -1;



@if $isRtl == rtl
{
    $left: right;
    $right: left;
    $direction:rtl;
	
	$bodyFont: 'Harmattan', sans-serif;
	$headingFont: 'Harmattan', sans-serif;
	$titlsFont: 'Harmattan', sans-serif;
	$navFont: 'Harmattan', sans-serif;
	$specialFont: 'Harmattan', sans-serif;
    $langFont:ltrRegular;


	$letterSpacing:0;

    $rotate90: -90deg;
    
    $flex-direction:row-reverse;
	$row-reverse:row;
	
    $angle-double: '\f100';
	$r-arrow:'\f30a';
	$l-arrow:'\f30b';

	$minus: -1;
	$plus: 1

}
@else {
    $left: left;
    $right: right;
    $direction:ltr;
	
	$bodyFont: ltrRegular;
	$headingFont: ltrBold;
	$titlsFont: ltrMedium;
	$navFont: ltrMedium;
	$specialFont: BellMT;
	$langFont:rtlRegular;
	$letterSpacing:0.8em;

    $rotate90: 90deg;
    
    $flex-direction:row;
	$row-reverse:row-reverse;
    
    $angle-double: '\f101';
	$r-arrow:'\f30b';
	$l-arrow:'\f30a';

	$minus: 1;
	$plus: -1

}
